pl_stg_process_nytcaxi.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"lh_nyc_taxi":{"type":"string"},"wh_nyc_taxi":{"type":"string"}},"variables":{},"resources":[{"name":"pl_stg_process_nytcaxi","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy to Staging","type":"Copy","dependsOn":[{"activity":"v_date","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"ParquetSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"ParquetReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_nyc_taxi","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"88f9be3f-fbf7-490f-8012-4cb26b17b621","artifactId":"[parameters('lh_nyc_taxi')]","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat('yellow_tripdata_', variables('v_date'), '.parquet')","type":"Expression"},"folderPath":"nyctaxi_yellow"},"compressionCodec":"snappy"},"schema":[]}},"sink":{"type":"DataWarehouseSink","preCopyScript":"delete from stg.nyctaxi_yellow","allowCopyCommand":true,"copyCommandSettings":{},"disableMetricsCollection":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"wh_nyc_taxi","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"cw42ywcscpye7nhfbyz7rx6vgu-h67ptchx7mhutaasjszgwf5wee.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('wh_nyc_taxi')]","workspaceId":"88f9be3f-fbf7-490f-8012-4cb26b17b621"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"stg","table":"nyctaxi_yellow"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"SP Removing Outlier Dates","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"v_end_date","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"storedProcedureName":"[[stg].[data_cleaning_stg]","storedProcedureParameters":{"end_date":{"value":{"value":"@variables('v_end_date')","type":"Expression"},"type":"Datetime"},"start_date":{"value":{"value":"@concat(variables('v_date'),'-01')","type":"Expression"},"type":"Datetime"}}},"linkedService":{"name":"wh_nyc_taxi","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"cw42ywcscpye7nhfbyz7rx6vgu-h67ptchx7mhutaasjszgwf5wee.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('wh_nyc_taxi')]","workspaceId":"88f9be3f-fbf7-490f-8012-4cb26b17b621"}}}},{"name":"v_end_date","type":"SetVariable","dependsOn":[{"activity":"Copy to Staging","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"v_end_date","value":{"value":"@addToTime(concat(variables('v_date'),'-01'),1,'Month')","type":"Expression"}}},{"name":"SP Loading Staging Metadata","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"SP Removing Outlier Dates","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"storedProcedureName":"[[metadata].[insert_staging_metadata]","storedProcedureParameters":{"pipeline_run_id":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"String"},"processed_date":{"value":{"value":"@pipeline().TriggerTime","type":"Expression"},"type":"Datetime"},"table_name":{"value":"stg.nyctaxi_yellow","type":"String"}}},"linkedService":{"name":"wh_nyc_taxi","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"cw42ywcscpye7nhfbyz7rx6vgu-h67ptchx7mhutaasjszgwf5wee.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('wh_nyc_taxi')]","workspaceId":"88f9be3f-fbf7-490f-8012-4cb26b17b621"}}}},{"name":"Latest Processed Data","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"wh_nyc_taxi","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"cw42ywcscpye7nhfbyz7rx6vgu-h67ptchx7mhutaasjszgwf5wee.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('wh_nyc_taxi')]","workspaceId":"88f9be3f-fbf7-490f-8012-4cb26b17b621"}}},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"SELECT TOP 1\r\nlatest_processed_pickup\r\n\r\nfrom metadata.processing_log\r\n\r\nwhere table_processed = 'stg.nyctaxi_yellow'\r\n\r\norder by latest_processed_pickup desc;","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"v_date","type":"SetVariable","dependsOn":[{"activity":"Latest Processed Data","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"v_date","value":{"value":"@formatDateTime(addToTime(activity('Latest Processed Data').output.resultSets[0].rows[0].latest_processed_pickup, 1, 'Month'),'yyyy-MM')","type":"Expression"}}}],"variables":{"v_date":{"type":"String","defaultValue":"2024-01"},"v_end_date":{"type":"String"}},"lastModifiedByObjectId":"d34a2218-472c-4f5f-810d-49ffac15e199","lastPublishTime":"2025-01-12T17:57:52Z","extraTridentInfo":"{\"folderObjectId\":\"88f9be3f-fbf7-490f-8012-4cb26b17b621\",\"capacityObjectId\":\"7CB85858-BE9A-4C75-BF5A-191E67BD77D0\",\"artifactType\":\"Pipeline\",\"provisionState\":\"Active\",\"lastUpdatedDate\":\"2025-01-17T14:00:44.007Z\",\"createdDate\":\"2024-12-09T19:59:31.541Z\",\"ownerUser\":{\"id\":2868262,\"name\":\"Bruno Coimbra Silva\",\"objectId\":\"d34a2218-472c-4f5f-810d-49ffac15e199\",\"userPrincipalName\":\"bargollo@argconsulting01.onmicrosoft.com\",\"aadAppId\":null,\"type\":null},\"ownerUserId\":2868262,\"createdByUser\":{\"id\":2868262,\"name\":\"Bruno Coimbra Silva\",\"objectId\":\"d34a2218-472c-4f5f-810d-49ffac15e199\",\"userPrincipalName\":\"bargollo@argconsulting01.onmicrosoft.com\",\"aadAppId\":null,\"type\":null},\"createdByUserId\":2868262,\"modifiedByUser\":{\"id\":2868262,\"name\":\"Bruno Coimbra Silva\",\"objectId\":\"d34a2218-472c-4f5f-810d-49ffac15e199\",\"userPrincipalName\":\"bargollo@argconsulting01.onmicrosoft.com\",\"aadAppId\":null,\"type\":null},\"modifiedByUserId\":2868262,\"artifactRelations\":[{\"dependentArtifactObjectId\":\"924ee055-0482-48aa-8cc3-12130494f73a\",\"settings\":0}],\"permissions\":71,\"artifactPermissions\":7,\"subfolderId\":38409,\"systemArtifactType\":\"None\",\"etag\":\"\\\"b96b3047ac9d44209ecda695cad909f3\\\"\"}"},"dependsOn":[]}]}